.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
.button {
  padding: 5px 7px;
  background-color: #d45f5f;
  color: #e9a098;
  border: 1px solid #e9a098;
  border-radius: 5px;
  cursor: pointer;
}
